.d-flex{
    display: flex;
}
.test{
    width: 75%;
}
.content{
    overflow: auto;
    width: 100%;
}
.contentmain{
    width: 70%;
    margin: 0 auto;
}    
.wrapper{
    height: 100%;
    position: relative;
}
label{
    position: absolute;
    top: 15px;
}
.sidebar{
    flex: 0 0 280px;
    transition: 0.6s all;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    background-color: white;
}
.outlet{
    flex-grow: 1;
    z-index: 1000;
    position: relative;
}
input{
    display: none;
}
label{
    font-size: 2.5rem;
    left: 10px;
    position: absolute;
    color: #06f;
}

