.d-flex{
    display: flex;
}
.test{
    width: 75%;
}
.content{
    overflow: auto;
    width: 100%;
}
.contentmain{
    width: 70%;
    margin: 0 auto;
}    
:host{
    display: flex;
    /* border: 1px solid black; */
    /* flex-grow: 1; */
    height: 100%;
}