<div class="d-flex main-btn">
<div class="test d-flex">
    <button class="button" (click)="displayOverlay()"> <strong> Add User </strong></button>
 </div>
 <div class="search-bar d-flex">
      <input class="Search"
       type="text"
       placeholder="Search.."
       name="search"
       [(ngModel)]="searchText"
      >
 </div>
 </div>
<table class="table">
    <thead class="table-header">
        <tr class="table-headerRow">
            <th  class="header-element">id</th>
            <th  class="header-element">Name</th>
            <th  class="header-element">E-mail</th>
            <th  class="header-element">Gender</th>
            <th  class="header-element">Date of Employment</th>
            <th  class="header-element">Department</th>
            <th  class="header-element">PhoneNumber</th>
            <th  class="header-element">Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr class="table-bodyRow" *ngFor="let formData of fromList | formcrudfilter: searchText">
            <td class="t-data-element">{{formData.id}}</td>
            <td class="t-data-element">{{formData.firstname + " " + formData.lastname}}</td>
            <td class="t-data-element">{{formData.email}}</td>
            <td class="t-data-element">{{formData.gender}}</td>
            <td class="t-data-element">{{formData.doe}}</td>
            <td class="t-data-element">{{formData.dept | deptpipe: department}}</td>
            <td class="t-data-element">{{formData.contact}}</td>
            
            <td class="t-data-element">
                <button class="button" (click)="editData(formData.id)">Edit</button>
                <button class="deletebutton" (click)="deletePopup(formData.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>