:host{
    margin: 0 200px;
}
table{
 margin-top: 50px;   
}
.add-user{
    background-color: #06f;
    color: aliceblue;
    margin-top: 40px;
    
}
th{
    border-collapse: collapse;
    /* border-right: 2px solid black; */
    /* border-left: 2px solid black; */
    /* border-top: 2px solid black; */
    /* border: 2px solid black; */
}
td{
    border-collapse: collapse;
    /* border-right: 2px solid black; */
    /* border-left: 2px solid black; */
    /* border: 2px solid black; */
}
.btn{
    padding: 5px 15px ;
    border-radius: 5px;
}
.search-bar{
    padding: 5px;
    margin-top: 40px;
    margin-left: 15px;
    
}
.Search{
    flex-grow: 1;
    width: 500px;
}