
.container{
    width: 300px;
    height: 100%;
    padding: 0;
}

li{
    cursor: pointer;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    align-items: center;

}
aside{
    width: 100%;
    height: 100%;
    background-color: white;

}
ul{
    background-color: white;
    width: 80%;
    border-radius: 5px;
    padding: 10px; 
    margin: 0 auto;
    /* margin-right: 35px; */
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
ul:hover{
    background-color: rgba(0, 102, 255, 0.137);
   
}
 li:hover{
    color: #06f;
 }
 .logo-title{
     width: 100%;
     margin: 0 15px;
     padding: 15px;
     border-bottom: 1px solid #d4d4d4;
 }
 .sidebar-title{
     color: #06f;
     padding: 5px;
     font-size: 1.25rem;
     
 }
 i{
     padding: 0 5px;
 }
 .bxl-digitalocean{
    font-weight: 600;
    color: #06f;
    font-size: 26px;
    justify-content: center;
 }
 .mainlogo{
     /* justify-content: space-between; */
     width: 100%;
 }
 .img-class{
     width: 30%;
     height: 50px;
     padding: 10px;
     border-radius: 50%;
 }
 .username{
     width: 70%;
     flex-direction: column;
     padding: 10px;
 }
 h1{
     font-size: 1rem;
     font-weight: 600;
 }
 h3{
     font-size: 0.75rem;
     color: #999999;
 }
 .no-borderbottom{
     border-bottom: none;
 }
 