<aside class="sidebarComponent">
    <div class="logo-header d-flex">
        <h1 class="nav-link">Code-Playground</h1>
    </div>

    <div class="profile d-flex">
        <figure class="avatar"><img src="../../../../assets/images/king.png" alt="pfl-img" class="profileIcon"></figure>
        <div class="profileName nav-link" style="transition: 0.6s all;">
            <h2>Chirag Patel</h2>
            <h3>cp221740@gmail.com</h3>
        </div>
    </div>

    <div class="feature-list d-flex">
    <ul class="feat nav-list">
    <li routerLink='crud'><a class="d-flex nav-item"><i class='bx bxs-user-circle'></i><span class="links nav-link"> User</span></a></li>
    <li routerLink='resume'><a class="d-flex nav-item"><i class='bx bx-building'></i><span class="links nav-link">Resume</span></a></li>
    <li routerLink='management'><a class="d-flex nav-item"><i class='bx bxs-user-badge'></i><span class="links nav-link">User-management</span></a></li>
    <li routerLink='templateng'><a class="d-flex nav-item"><i class='bx bx-building'></i><span class="links nav-link">ngTemplate</span></a></li>
    <li routerLink='subjectcom'><a class="d-flex nav-item"><i class='bx bx-building'></i><span class="links nav-link">Subject Communication</span></a></li>
    <li routerLink='mvp'><a class="d-flex nav-item"><i class='bx bx-building'></i><span class="links nav-link">MVP Demo</span></a></li>
    </ul>
</div>
</aside>
