<div class="container">
<aside>
    <div class="d-flex logo-title">
        <li class="d-flex mainlogo" ><i class='bx bxl-digitalocean'></i> 
            <span class="sidebar-title"><strong> My Angular </strong></span></li>
    </div>
    <div class="d-flex logo-title no-borderbottom">
        <div class="img-class"><figure><img style="width: 100%;height: 100%;" src="https://www.nicepng.com/png/full/62-628871_graphic-freeuse-download-king-transparent-clash-clans-clash.png" alt="profile"></figure></div>
        <div class="username">
            <h1>Chirag Patel</h1>
            <h3>cp221740@gmail.com</h3>
        </div>
    </div>
    <ul>
    <li routerLink='crud'><strong><i class='bx bxs-user-circle'></i><span> User</span></strong></li>
    </ul>
    <ul>
    <li routerLink='resume'><strong><i class='bx bx-building'></i><span>Resume</span></strong></li>
    </ul>
    <ul>
    <li routerLink='management'><strong><i class='bx bxs-user-badge'></i><span>User-management</span></strong></li>
    </ul>
</aside>
</div>