
<aside>
    <div class="logo-header">
        <i class='bx bxl-unity'></i>
        <h1>Code-Playground</h1>
    </div>

    <div class="profile">
        <figure><img src="" alt="pfl-img"></figure>
        <div>
            <h2>Name</h2>
            <h3>Email</h3>
        </div>
    </div>

    <div class="feature-list">
    <ul class="feat">
    <li routerLink='crud'><strong class="d-flex"><i class='bx bxs-user-circle'></i><span class="links"> User</span></strong></li>
    <li routerLink='resume'><strong class="d-flex"><i class='bx bx-building'></i><span class="links">Resume</span></strong></li>
    <li routerLink='management'><strong class="d-flex"><i class='bx bxs-user-badge'></i><span class="links">User-management</span></strong></li>
    </ul>
</div>
</aside>
