<div class="d-flex">
     </div>
    <table class="table form-list">
        <thead class="table-header">
            <tr class="table-headerRow">
                <th class="header-element">First Name</th>
                <th class="header-element">Last Name</th>
                <th class="header-element">ClientName</th>
                <th class="header-element">E-mail</th>
                <th class="header-element">Office</th>
                <th class="header-element">Contact Number</th>
                <th class="header-element">Action</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr class="table-bodyRow" *ngFor="let userData of UserList">
                <td class="t-data-element">{{userData.firstName}}</td>
                <td class="t-data-element">{{userData.lastName}}</td>
                <td class="t-data-element">{{userData.clients | clientpipe: Clients}}</td>
                <td class="t-data-element">{{userData.emailId}}</td>
                <td class="t-data-element">{{userData.office}}</td>
                <td class="t-data-element">{{userData.contactno}}</td>
                
                <td class="t-data-element">
                    <button class="button savebutton" routerLink="/manage/edit/{{userData.id}}">Edit</button>
                    <button class="button deletebutton" (click)="deleteClientData(userData.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>