<form>
    <div class="form-group">
        <legend class="Mainf-title"><strong>Resume Information :</strong></legend>
     <div class="form-group">
            <legend><strong> Personal Details : </strong></legend>
            
            <label for="name">Name : &nbsp; &nbsp;</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name"><br>


            <label for="designation">Designation : &nbsp; &nbsp;</label>
            <input type="text" class="form-control" id="designation" placeholder="Enter Your Designation"><br>


            <label for="contact">Contact Number : &nbsp; &nbsp;</label>
            <input type="tel" class="form-control" id="contact" placeholder="Enter Your Contact Number"><br>


            <label for="email">Email-Id : &nbsp; &nbsp;</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Your email (abc@domain.com)"><br>
    
     </div><br>
     <div class="form-group">
         <legend><strong>Profile : </strong></legend>

         <label for="profiledesc" style="display: flex;">Profile Description : &nbsp; &nbsp;</label>
         <textarea rows="4" cols="30" name="profiledesc" class="form-control" style="resize: none; display: flex;">Enter Description here</textarea><br>

     </div><br>

     <div class="form-group">
         <legend><strong>Skills : </strong></legend>

         <label for="skillset">Skill Set : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="skillset" placeholder="Enter Your Skill."><br>
         <button class="btn btn-primary">+ Add Skill</button>
     </div><br><br>

     <div class="form-group">
         <legend><strong>Experience : </strong></legend>

         <label for="workplace">WorkPlace : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="workplace" placeholder="Enter Your WorkPlace Name"><br>


         <label for="jobtitle">Job-Title : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="jobtitle" placeholder="Enter Job-Title"><br>


         <label for="jobdesc">Job-Description : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="jobdesc" placeholder="Enter Job-Description"><br>


         <label for="yearofj">Start Year : &nbsp; &nbsp;</label>
         <input type="date" class="form-control" id="yearofj" placeholder="Enter the Start Year"><br>
         <label for="yearofje">End Year : &nbsp; &nbsp;</label>
         <input type="date" class="form-control" id="yearofe" placeholder="Enter the End Year"><br>

     </div><br>

     <div class="form-group">
         <legend><strong>Education : </strong></legend>

         <label for="uni">University/School Name : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="uni" placeholder="Enter your University/school name"><br>

         <label for="uni">Degree : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="uni" placeholder="Enter your Degree name"><br>

         <label for="uni">Grade : &nbsp; &nbsp;</label>
         <input type="text" class="form-control" id="uni" placeholder="Enter your grades in CGPA."><br>
     </div><br>

    </div>
    <button type="submit" class="btn btn-success d-flex submit">Submit</button>
  </form>