:host{
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-direction: column;
    font-size: 1rem;
}
form{
    background-color: rgba(224, 220, 220, 0.384);
    padding: 80px;
    border-radius: 25px;
    /* margin-top: 70px; */
    margin: 100px auto;
    width: 800px;
}
.Mainf-title{
    font-size: 2rem;
}
label{
    font-weight: 500;
}
.btn{
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.dskill{
    margin-left: 25px;
}
.btn-primary{
    background-color: #005F73;
    border: none;
    box-shadow:  0px 10px 5px rgba(2, 2, 2, 0.247), 0 6px 20px 0 rgba(94, 94, 94, 0.19);
}
.btn-success{
    background-color: #005F73;
    border: none;
    box-shadow:  0px 10px 5px rgba(2, 2, 2, 0.247), 0 6px 20px 0 rgba(94, 94, 94, 0.19);
}
.btn-primary:hover{
    background-color: rgb(0, 110, 255);
}
.btn-success:hover{
    background-color: green;
}
.submit{
    text-align: center;
}