<form [formGroup]="resumeform" (ngSubmit)="onSubmit()">
    <div class="form-group" >
        <legend class="Mainf-title"><strong>Resume Information :</strong></legend>
     <div class="form-group">
            <legend><strong> Personal Details : </strong></legend>
            
            <label for="name">Name : &nbsp; &nbsp;</label>
            <input type="text"
             class="form-control"
              formControlName="firstName"
               id="fname"
                 [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['firstName'].touched }"
                  placeholder="Enter Your Name"
                  />
                  <div *ngIf="resumeSubmitted || getvalue['firstName'].touched && getvalue['firstName']?.errors?.['required']" class="alert alert-danger">
                    Given Input is Invalid.
                  </div><br>


            <label for="designation">Designation : &nbsp; &nbsp;</label>
            <input type="text"
             class="form-control"
              formControlName="designation"
               id="designation"
                [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['designation'].touched }"
                placeholder="Enter Your Designation"/>
                <div *ngIf="resumeSubmitted || getvalue['designation'].touched && getvalue['designation']?.errors?.['required']" class="alert alert-danger">
                    Given Input is Invalid.
                  </div><br>


            <label for="contact">Contact Number : &nbsp; &nbsp;</label>
            <input type="tel"
             class="form-control"
              formControlName="contact"
               id="contact"
               [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['contact'].touched && getvalue['contact']?.errors?.['maxlength'] && getvalue['contact']?.errors?.['minlength']}"
               placeholder="Enter Your Contact Number">
               <div *ngIf="resumeSubmitted || getvalue['contact'].touched && getvalue['contact']?.errors?.['required']" class="alert alert-danger">
                Given Input is Invalid.
              </div><br>

            <label for="email">Email-Id : &nbsp; &nbsp;</label>
            <input type="email"
             class="form-control"
              formControlName="email"
               id="email"
               [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['email'].touched }"
               placeholder="Enter Your email (abc@domain.com)">
               <div *ngIf="resumeSubmitted || getvalue['email'].touched && getvalue['email']?.errors?.['required']" class="alert alert-danger">Given Input is Invalid. </div>
                <div *ngIf="getvalue['email'].errors && getvalue['email'].touched && getvalue['email']?.errors?.['email']" class="alert alert">Please, enter valid email address.</div>
              



    
     </div><br>
     <div class="form-group">
         <legend><strong>Profile : </strong></legend>

         <label for="profiledesc" style="display: flex;">Profile Description : &nbsp; &nbsp;</label>
         <textarea rows="4"
          cols="30"
           name="profiledesc"
            class="form-control"
             formControlName="profiledesc"
              style="resize: none; display: flex;"
              [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['profiledesc'].touched }"
               placeholder= "Enter Description here"></textarea>
               <div *ngIf="resumeSubmitted || getvalue['profiledesc'].touched && getvalue['profiledesc']?.errors?.['required']" class="alert alert-danger">
                Given Input is Invalid.
              </div><br>
     </div><br>




     <legend><strong>Skills : </strong></legend>
     <label for="skillset">Skill Set : &nbsp; &nbsp;</label>
     <div class="form-group" *ngFor="let techSkill of technicalskill.controls; let i = index" formArrayName="techskills">
         <div [formGroupName]="i">
    
             <input type="text"
              class="form-control"
               id="skillset"
                formControlName="techskills"
                 placeholder="Enter Your Skill."
                 [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['techskills'].touched }"/>
                 <div *ngIf="resumeSubmitted || getAsFormGroup(techSkill).controls['techskills'].touched && getAsFormGroup(techSkill).controls['techskills']?.errors?.['required']" class="alert alert-danger">
                    Given Input is Invalid.
                  </div><br>
            </div>
            <button type="button" (click)="addSkills()" class="btn btn-primary">Add Skill</button>
            <button type="button" (click)="deleteSkills(i)" class="btn btn-primary dskill">Delete Skill</button><br><br>
        </div>



        
        <legend><strong>Experience : </strong></legend>
        <div class="form-group" *ngFor="let exper of experience.controls; let i = index" formArrayName="experience">
            <label for="workplace">WorkPlace : &nbsp; &nbsp;</label>
            <div [formGroupName]="i">

         <input type="text"
          class="form-control"
           id="workplace"
            formControlName="WorkplaceInfo"
             placeholder="Enter Your WorkPlace Name"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['ExperienceInfo'].touched }"/>
             <div *ngIf="resumeSubmitted || getAsFormGroup(exper).controls['WorkplaceInfo'].touched && getAsFormGroup(exper).controls['WorkplaceInfo']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div>
                

         <label for="jobtitle">Job-Title : &nbsp; &nbsp;</label>
         <input type="text"
          class="form-control"
           id="jobtitle"
            formControlName="designationInfo"
             placeholder="Enter Job-Title"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['ExperienceInfo'].touched }">
             <div *ngIf="resumeSubmitted || getAsFormGroup(exper).controls['designationInfo'].touched && getAsFormGroup(exper).controls['designationInfo']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div>


         <label for="jobdesc">Job-Description : &nbsp; &nbsp;</label>
         <input type="text"
          class="form-control"
           id="jobdesc"
            formControlName="descriptionInfo"
             placeholder="Enter Job-Description"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['ExperienceInfo'].touched }"/>
             <div *ngIf="resumeSubmitted || getAsFormGroup(exper).controls['descriptionInfo'].touched && getAsFormGroup(exper).controls['descriptionInfo']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div>


         <label for="yearofj">Start Year : &nbsp; &nbsp;</label>
         <input type="date"
          class="form-control"
           id="yearofj"
            formControlName="startYearinfo"
             placeholder="Enter the Start Year"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['ExperienceInfo'].touched }">
             <div *ngIf="resumeSubmitted || getAsFormGroup(exper).controls['startYearinfo'].touched && getAsFormGroup(exper).controls['startYearinfo']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div>
         <label for="yearofje">End Year : &nbsp; &nbsp;</label>
         <input type="date"
          class="form-control"
           id="yearofe"
             formControlName="EndYearinfo"
              placeholder="Enter the End Year"
              [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['ExperienceInfo'].touched }">
              <div *ngIf="resumeSubmitted || getAsFormGroup(exper).controls['EndYearinfo'].touched && getAsFormGroup(exper).controls['EndYearinfo']?.errors?.['required']" class="alert alert-danger">
                Given Input is Invalid.
              </div><br>
        </div>
            <button type="button" (click)="addExp()" class="btn btn-primary">Add Experience</button>
            <button type="button" (click)="deleteExp(i)" class="btn btn-primary dskill">Delete Experience</button><br><br>
     </div><br>




     <legend><strong>Education : </strong></legend>
     <div class="form-group"  *ngFor="let education of education.controls; let i = index" formArrayName="education">
        <div [formGroupName]="i">

         <label for="uni">University/School Name : &nbsp; &nbsp;</label>
         <input type="text"
          class="form-control"
           id="uni"
            formControlName="UniversityInfo"
             placeholder="Enter your University/school name"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['EducationInfo'].touched }">
             <div *ngIf="resumeSubmitted || getAsFormGroup(education).controls['UniversityInfo'].touched && getAsFormGroup(education).controls['UniversityInfo']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div><br>

         <label for="uni">Degree : &nbsp; &nbsp;</label>
         <input type="text"
          class="form-control"
           id="uni"
            formControlName="degree"
             placeholder="Enter your Degree name"
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['EducationInfo'].touched }">
             <div *ngIf="resumeSubmitted || getAsFormGroup(education).controls['degree'].touched && getAsFormGroup(education).controls['degree']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div><br>

         <label for="uni">Grade : &nbsp; &nbsp;</label>
         <input type="text"
          class="form-control"
           id="uni"
            formControlName="grade"
             placeholder="Enter your grades in CGPA."
             [ngClass]="{ 'is-invalid': resumeSubmitted && getvalue['EducationInfo'].touched }">
             <div *ngIf="resumeSubmitted || getAsFormGroup(education).controls['grade'].touched && getAsFormGroup(education).controls['grade']?.errors?.['required']" class="alert alert-danger">
              Given Input is Invalid.
            </div><br>

        </div>
        <button type="button" (click)="addEducation()" class="btn btn-primary">Add Education</button>
            <button type="button" (click)="deleteEducation(i)" class="btn btn-primary dskill">Delete Education</button><br><br>
     </div><br>

    </div>
    <button type="submit" class="btn btn-success d-flex submit">Submit</button>
  </form>